.profile-container {
    padding: var(--default-padding);
    display: flex;
    gap: var(--default-padding);
    justify-content: center;
    align-items: center;

}
.profile-details {
    

}
.profile-avatar {
   
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;

}
.input-group {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--default-padding);
}
.change-profile-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: var(--default-padding);
    align-items: center;
    justify-content: center;
}