* {
    font-family: Poppins, sans-serif;
}

body {
    --border-radius: 20px;
    --default-padding: 20px;
    --small-padding: 10px;
    --glass-color: rgba(255, 255, 255, 0.36);
    --blur: blur(12px);
    --primary-color: rgb(163, 106, 242);
    --glass-color-hover: rgba(163, 163, 163, 0.2);;
  }
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    background-color: var(--glass-color-hover);
}
  

body{
    background-image: url(/assets/img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 14px;
    font-weight: 700;

}
p {
    font-size: 12px;
}

.chat-container {
    background-color: rgba(255, 255, 255, 0.36);
    box-shadow:inset 0px 0px 0px 1px rgba(255, 255, 255, 0.66);
    border-radius: var(--border-radius);
    width: 80%;
    max-width: 1000px;
    min-height: 600px;
    display: flex;
    position: relative;
    
}
nav {
    display:flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: var(--border-radius);
 
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    height: 70px;
    width: 70px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:hover{
    background-color: var(--glass-color-hover);
    cursor: pointer;
}
nav ul li:active{
    background-color: var(--primary-color);
}
.chat-list{
    display: flex;
    flex-direction: column;
    
    background-color: var(--glass-color);
    border-radius: 
        0
        var(--border-radius) 
        var(--border-radius)
        0 ;
    min-width: 20%;
}
.chat-wrapper{
    flex-grow: 2;
    padding: var(--default-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--default-padding);
    flex-grow: 2;
    padding: var(--default-padding) 0;
    overflow-y: scroll;
    max-height: 600px;
    padding-right: calc(70px + var(--default-padding) - 10px);
}
.chat .chat-item {
    min-width: 30%;
    padding: var(--default-padding);
    background-color: var(--glass-color);
    backdrop-filter: var(--blur);
    border-radius: var(--border-radius);
    align-self: flex-start;
}
.chat .chat-item.me {
    background-color: red;
    align-self: flex-end;
}

.chat-input {
    display: flex;
    gap: var(--default-padding);

}
.chat-input #message{
    padding: var(--default-padding);
    background-color: var(--glass-color);
    backdrop-filter: var(--blur);
    border-radius: var(--border-radius);
    border: none;
    flex-grow: 2;
}

.primary-button{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border: none;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.secure {
    position: absolute;
    top: 20px;
    right: -25px;
    background-color: var(--glass-color);
    backdrop-filter: var(--blur);
    border: 1px solid #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-preview {
    display: flex;
    gap: var(--default-padding);
    align-items: center;
    padding: var(--default-padding);
}
.contact-preview .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;


}
.contact-preview .contact-details{
    display: flex;
    flex-direction: column;
}
.contact-preview .contact-details h2{
   margin: 0;
}
.contact-preview .contact-details p{
    margin: 0;
 }
